* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Google Sans, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  background-color: white;
  padding: 5px 60px;

}

.nav-links {
  list-style: none;
  margin-right: 50%;
}

.nav-links li {
  display: inline-block;
  margin-left: 30px;
  font-size: 14px;
}

.img {
  width: 150px;
}

#p1 {
  background-color: rgb(26, 115, 232);
  color: white;
  padding: 30px;
  font-size: 17px;
}

#p2 {
  background-color: #e8f0fe;
  color: #414abb;
  padding: 30px;
  font-size: 13px;
}

.content1 {
  display: flex;
  padding: 40px 40px 60px 20px;
  margin: 30px;


}

h1 {
  color: black;
  font-size: 50px;
  font-weight: 700;
}

.Build {
  color: black;
  font-size: 15px;
  padding-right: 100px;
}

.Build p{
  padding-top: 30px;
}

.content1 img {
  width: 600px;
}

.content2 {
  display: flex;
  padding: 20px;
  background-color: #f5f6f7;
  color: black;
  text-decoration: none;
  justify-content: center;


}

.content2 a {
  text-decoration: none;
  color: black;

}

.build2 {
 padding: 20px 50px;
} 

.content2 a:hover {
  text-decoration: underline;
}

h2 {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.image2 img{
  width: 400px;
  border-radius: 40px;
}
.btn1 {
  padding: 20px;
}

.one{
  justify-content: space-between;
  border: 2px solid rgb(26, 115, 232);
  border-radius: 30px;
  padding: 10px 40px;
  margin: 0 70px;
  color: rgb(26, 115, 232);
  font-size: 15px;
}

.one:hover{
  background-color: rgb(26, 115, 232);
  color: white;
}

.content3{
  display: flex;
  padding: 50px;
  color: black;
  text-decoration: none;
  justify-content: center;
  padding-right: 20px;
}

.card1{
  padding: 50px;
  background-color: #f5f6f7;
  border-radius: 30px;
  margin-right: 30px;
}

.card1 img{
  width: 300px;
  padding-bottom: 30px;
}

.card1 h3 a{
  text-decoration: none;
  color: rgb(22, 21, 21);
  font-size: 25px;
}

.card1 h3:hover{
  text-decoration: 2px underline black ;
  
}

.card1 p{
  color: rgb(22, 21, 21);
  font-size: 15px;

}
.two{
  border: 2px solid;
  border-radius: 40px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 10px 50px;
  justify-content: center;
  font-size: 17px;
  margin-top: 40px;
  margin-left: 40px;
}

.two:hover{
  text-decoration: none;
  border: none;
  
}

.content4{
  padding: 50px;
  color: black;
  background-color: #f5f6f7;
  text-decoration: none;
  justify-content: center;
  padding-right: 20px;
  padding-left: 50px;
}

i{
  color: rgb(26, 115, 232);
  text-align: center;
  margin-bottom: 50px;
}

.card-container{
  background-color: #f5f6f7;
  display: flex;
  padding: 60px;
  color: black;
  text-decoration: none;
  justify-content: space-between;
  padding-right: 10px;
} 

.card-container h4{
  font-size: 30px;
  margin: 20px 0px;
  color: rgb(26, 115, 232);
}

.card2{
  text-align: center;
  padding: 40px 30px; 
  background-color: white; 
  border-radius: 30px;
  width: 32%;
}

.card2 p {
  font-size: 14px;
}

.three {
  border: 2px solid;
  border-radius: 40px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 10px 50px;
  justify-content: center;
  font-size: 17px;
  margin: 40px 0px;
  
}

.three:hover{
  text-decoration: none;
  background-color:  #f5f6f7;
  border: none;
  
}

.content5{
  display: flex;
  padding: 50px;
  color: black;
  text-decoration: none;
  justify-content: center;
  padding-right: 20px;
  
  

}
.card3{
  padding: 50px;
  background-color: #f5f6f7;
  border-radius: 30px;
  margin-right: 30px;

}
.card3 img{
  width: 300px;
  padding-bottom: 30px;

}
h3{
  text-align: center;
}
.card3 p{
  text-align: center;
}
#p-course{
  text-align: left;
  font-size: 13px;
  padding-bottom: 10px;
}
.card3 h3 a{
  text-decoration: none;
  color: rgb(22, 21, 21);
  font-size: 25px;

}
.card3 h3:hover{
  text-decoration: 2px underline black ;
  
}

.card3 p{
  color: rgb(22, 21, 21);
  font-size: 15px;

}
.course{
  border: 2px solid;
  border-radius: 40px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 10px 50px;
  justify-content: center;
  font-size: 17px;
  margin-top: 40px;
  margin-left: 40px;
  
}
.course:hover{
  text-decoration: none;
  background-color:  #f5f6f7;
  border: none;
  
}

.content6 {
  display: flex;
  padding: 20px;
  background-color: #f5f6f7;
  color: black;
  text-decoration: none;
  justify-content: center;


}

.content6 a {
  text-decoration: none;
  color: black;

}
.keep p{
  font-size: 14px;
}

.keep {
padding: 20px 50px;
} 

.keep a:hover {
  text-decoration: underline;
}

h2 {
  text-decoration: none;
  font-size: 26px;
  color: black;
}

.keep-image img{
  width: 350px;
  border-radius: 40px;
  padding-right: 50px;
}
.btn2 {
  padding: 20px;
}

.blog{
  justify-content: space-between;
  border: 2px solid rgb(26, 115, 232);
  border-radius: 40px;
  padding: 10px 40px;
  margin: 0 70px;
  color: rgb(26, 115, 232);
  font-size: 15px;
}

.blog:hover{
  background-color: rgb(26, 115, 232);
  color: white;
}

.side1{
  display: flex;
  background-color: white;
  padding: 60px;
  justify-content: space-between;
  /* width: 90%; */
  line-height: 20px;
}

.base1{
  width: 50%;
  padding-left: 20px;
  }
  .base1 h2{
    color: rgb(32, 31, 31);
    font-size: 35px;
    margin-bottom: 20px;
  }
  .base1 a{
    text-decoration: none;
    color: #f5f6f7;
  }

  .base1 a:hover{
    text-decoration: underline;
  }
  .base1 p{
    font-size: 13px;
  
  }

/* .card-base div{
  width: 90%;
margin: 10px; */
}

.card-base a:hover{
  text-decoration: underline 2px;
}
.card-base p{
  font-size: 13px;
  padding-right: 10px;

}



.more-baseline{
  border: 2px solid;
  border-radius: 40px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 10px 40px;
  justify-content: center;
  font-size: 13px;
  margin-top: 40px;
  margin-left: 40px;
}

.more-baseline:hover{
  text-decoration: none;
  background-color: white;
  border: none;
  
}

.card-base a{
  text-decoration: none;
  color: rgb(26, 115, 232);
  font-size: 17px;
  margin-bottom: 10px;

}


.side2{
  display: flex;
  background-color: #f5f6f7;
  padding: 60px;
  justify-content: space-between;
  line-height: 20px; 
  
}

.base2{
  width: 55%;
  padding-left: 20px;
  padding-right: 30px;
  justify-content: space-between;
  }
  .base2 h2{
    color: rgb(32, 31, 31);
    font-size: 35px;
    margin-bottom: 20px;
  }
  .base2 a{
    text-decoration: none;
    color: #f5f6f7;
  }

  .base2 a:hover{
    text-decoration: underline;
  }
  .base2 p{
    font-size: 15px;
  
  }

.card-base2 a:hover{
  text-decoration: underline 2px;
}
.card-base2 p{
  font-size: 14px;

}

.more-baseline2{
  border: 2px solid;
  border-radius: 40px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 10px 40px;
  justify-content: center;
  font-size: 13px;
  margin-top: 40px;
  margin-left: 40px;
}

.more-baseline2:hover{
  text-decoration: none;
  border: none;
  background-color: #f5f6f7;
  
}

.card-base2 a{
  text-decoration: none;
  color: rgb(26, 115, 232);
  font-size: 17px;
  margin-bottom: 10px;
}



.section3{
  display: flex;
  background-color: white;
  padding: 60px;
  justify-content: space-between;
  line-height: 20px;
}

.sec3{
  width: 100%;
  padding-left: 20px;
  }
  .sec3 h2{
    color: rgb(32, 31, 31);
    font-size: 35px;
    margin-bottom: 20px;
  }
 
.sec3 a{
  text-decoration: none;
  color: rgb(26, 115, 232);
  font-size: 16px;
  margin-bottom: 10px;
}

.sec3 a:hover{
  text-decoration: underline 2px;
}
.sec3 p{
  font-size: 14px;

}

.botn-coreweb{
  border: 2px solid;
  border-radius: 40px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 10px 40px;
  justify-content: center;
  font-size: 12px;
  margin-top: 40px;
  margin-left: 40px;
}

.botn-coreweb:hover{
  text-decoration: none;
  border: none;
  background-color: #f5f6f7;
  
}

/* --------- */

.section4{
  display: flex;
  background-color: #f5f6f7;
  padding: 60px;
  justify-content: space-between;
  line-height: 20px;
}

.sec4{
  width: 100%;
  padding-left: 20px;
  }
  .sec4 h2{
    color: rgb(32, 31, 31);
    font-size: 35px;
    margin-bottom: 20px;
  }
 
.sec4 a{
  text-decoration: none;
  color: rgb(26, 115, 232);
  font-size: 16px;
  margin-bottom: 10px;
}

.sec4 a:hover{
  text-decoration: underline 2px;
}
.sec4 p{
  font-size: 14px;

}

.botn-PWA{
  border: 2px solid;
  border-radius: 40px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 10px 40px;
  justify-content: center;
  font-size: 12px;
  margin-top: 40px;
  margin-left: 40px;
}

.botn-PWA:hover{
  text-decoration: none;
  border: none;
  background-color: #f5f6f7;
  
}
/* ------ */
.section5{
  display: flex;
  background-color: white;
  padding: 60px;
  justify-content: space-between;
  line-height: 20px;
}

.sec5{
  width: 100%;
  padding-left: 20px;
  }
  .sec5 h2{
    color: rgb(32, 31, 31);
    font-size: 35px;
    margin-bottom: 20px;
  }
 
.sec5 a{
  text-decoration: none;
  color: rgb(26, 115, 232);
  font-size: 16px;
  margin-bottom: 10px;
}

.sec5 a:hover{
  text-decoration: underline 2px;
}
.sec5 p{
  font-size: 14px;

}

.botn-access{
  border: 2px solid;
  border-radius: 40px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 10px 40px;
  justify-content: center;
  font-size: 12px;
  margin-top: 40px;
  margin-left: 40px;
}

.botn-access:hover{
  text-decoration: none;
  border: none;
  background-color: #f5f6f7;
  
}

/* -------- */
.section6{
  display: flex;
  background-color: #f5f6f7;
  padding: 60px;
  justify-content: space-between;
  line-height: 20px;
}

.sec6{
  width: 100%;
  padding-left: 20px;
  }
  .sec6 h2{
    color: rgb(32, 31, 31);
    font-size: 35px;
    margin-bottom: 20px;
  }
 
.sec6 a{
  text-decoration: none;
  color: rgb(26, 115, 232);
  font-size: 16px;
  margin-bottom: 10px;
}

.sec6 a:hover{
  text-decoration: underline 2px;
}
.sec6 p{
  font-size: 14px;

}

.botn-identity{
  border: 2px solid;
  border-radius: 40px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 10px 40px;
  justify-content: center;
  font-size: 12px;
  margin-top: 40px;
  margin-left: 40px;
}

.botn-identity:hover{
  text-decoration: none;
  border: none;
  background-color: #f5f6f7;
  
}

/* -------- */

.Newsletter{
  background-color: #f5f6f7;
  padding: 80px 400px;
  line-height: 30px;

}
.name {
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  
}
.newslater h1{
  font-size: 24px;
  font-weight: 700;
}
.bttn-last{
  border: none;
  border-radius: 5px;
  background-color: white;
  color: rgb(26, 115, 232);
  padding: 15px 50px;
  justify-content: center;
  font-size: 15px;
  
  
}

.bttn-last:hover{
  background-color:#bbd6f1;
}


input[type="text"], 
input[type="email"],  
select {
    width: 100%; 
    height: 35px;
    box-sizing: border-box; 
}
.name input[type="First name"], 
input[type="last name"],  
select {
    width: 100%; 
    height: 35px; 
    box-sizing: border-box; 
}













